<?xml version="1.0" encoding="UTF-8"?>
   <!--
      Uncomment if you're using Glassfish. JBoss 6.0.0.M1 doesn't yet support Servlet 3.0. This is anticipated to be
      fixed very soon.
   -->
   <!--
      <web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation=" http://java.sun.com/xml/ns/javaee
      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
   -->
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="
      http://java.sun.com/xml/ns/javaee
      http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
   <!-- Activate the JSF 2.0 servlet -->
   <servlet>
      <servlet-name>Faces Servlet</servlet-name>
      <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
      <load-on-startup>1</load-on-startup>
   </servlet>

   <!-- Tell the context which URLs to process as facelets.  -->
   <servlet-mapping>
      <servlet-name>Faces Servlet</servlet-name>
      <url-pattern>*.jsf</url-pattern>
   </servlet-mapping>

   <!-- This is an optional parameter, but it makes troubleshooting errors much easier.  -->
   <!-- You may want to delete it before final deployment -->
   <context-param>
      <param-name>facelets.DEVELOPMENT</param-name>
      <param-value>true</param-value>
   </context-param>

   <persistence-unit-ref>
      <persistence-unit-ref-name>widgets/pu</persistence-unit-ref-name>
      <persistence-unit-name>widgets</persistence-unit-name>
   </persistence-unit-ref>

</web-app>
